<%= form_for(@refence) do |f| %>
  <% if @refence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@refence.errors.count, "error") %> prohibited this refence from being saved:</h2>

      <ul>
      <% @refence.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
