<h1>Listing refences</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @refences.each do |refence| %>
      <tr>
        <td><%= link_to 'Show', refence %></td>
        <td><%= link_to 'Edit', edit_refence_path(refence) %></td>
        <td><%= link_to 'Destroy', refence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Refence', new_refence_path %>
